/* Style sheet rules */

/* Helpful notes:

Please use only these webpage theme color codes:
Green = #87E226
White = #FFFFFF
Black = #3E3E43
*/

/* Custom fonts */
@charset "UTF-8";

/* Futura font */
@font-face {
    font-family: 'futuraextendedregular';
    src: url('fonts/futuraextended-webfont.eot');
    src: url('fonts/futuraextended-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futuraextended-webfont.woff2') format('woff2'),
         url('fonts/futuraextended-webfont.woff') format('woff'),
         url('fonts/futuraextended-webfont.ttf') format('truetype'),
         url('fonts/futuraextended-webfont.svg#futuraextendedregular') format('svg');
}

td
{
	border: 1px solid black;
	padding: 1em 1em 1em 1em;
}

#imp
{
	font-weight: bold;
}

body
{
	font-family: 'futuraextendedregular', 'Arial', 'Verdana';
	background-color: #A5A5A5;
	padding-top: 80px;

}

#call
{
	display:block;
	margin:auto;
}

#header {
	text-align: left;
	color: #FFFFFF;
}

h1, #phone
{
	/*font-weight: 900;*/
	text-align: center;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	margin: 0;
}

ul
{
	list-style-type: square;
}

.navbar {
	min-height: 80px;
	margin-bottom: 0;
	border: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#tag {
	color:#FFFFFF;
	text-decoration:none;
	padding-top:1em;
}

#tag2 {
	color:#87E226;
	text-decoration:none;
}

a {
	text-decoration: none;
	font-size: 20px;
	color:#87E226;
}

a:hover {
	text-decoration: none;
	font-size: 20px;
	color:#FFFFFF;
}

.btn {
	border-radius: 0;
}

/* Styling for the content boxes */
.transparent-box, .green-box , .white-box {
	width: 100%;
}

.transparent-box {
	color: #FFFFFF;
	background-image: url("images/transparentpixel.png");
}

.green-box {
	color: #FFFFFF;
	background-image: url("images/greenpixel.png");
}

.white-box {
	color: #3E3E43;
	background-image: url("images/whitepixel.png");
}

.about-text {
	text-align: left;
}

.about-text img{
	padding-left: 10px;
}

.green-text {
	color:#87E226;
}

.split-display {
	padding: 0; 
	margin: -15;
	text-align: center;
}

.split-display h2 {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#call-text {
	margin-top:1em;
}

#contact-head {
	margin-bottom: 1em;
}

.service-box {
	color: #3E3E43;
	background-image: url("images/whitepixel.png");
	min-height: 1200px;
	overflow: hidden;
	padding-bottom:200px;
}

.service-box-label {
	text-align: center;
	font-size: 26px;
}

.icon-box {
	background-repeat: no-repeat;
	background-position: center;
	border:7px solid #87E226;
	background-color: rgba(255, 255, 255, 0.3);
	width:200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 20px;
	border-radius: 100px;
}

.icon-box:hover {
	background-color: #A5A5A5;
}

/* Styling for the estimate table on service page */
#estimate {
	cursor: pointer;
}

.div-table {
	display: table;
	border-collapse: collapse;
	text-align: right;
	width: 100%;
	min-height: 1px;
	width: 100%;
	padding-bottom: 20px:;
	color: #FFFFFF;
	font-size: 20px;
	background-color: #222222;
	position: fixed;
	top: 80px;
	z-index: 9999;
}

.div-table-header, .div-table-col {
	display: table-cell;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom:1px solid #A5A5A5;
	text-align: right;
}

.div-table-header {
	color: #87E226;
}

.div-table-row {
	display: table-row;
	width: 100%;
}

.div-table-row button {
	color: #FFFFFF;
	background-color: #FF0000;
	border: 0;
}

/* End of styling */

.about-pic {
	background-image: url('images/jeff1.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

.contact-box {
	height: 700px;
	color: #FFFFFF;
	background-image: url("images/transparentpixel.png");
}

.contact-cell a:hover {
	opacity: 0.6;
}

#map {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	text-align: center;
}

/* Styling for contact form */
form {
	padding-top: 20px;
	padding-left: 10%;
}

.form-control {
	width: 90%;
	border-radius: 0;
}
 
#singlebutton:focus, #singlebutton:active:focus, #singlebutton.active:focus, #clear-button {
    outline: none;
}
 
#singlebutton, .btn-primary[disabled], #clear-button {
    background: #87E226;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 0px 5px 0px 5px;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
}
 
#singlebutton:hover, #singlebutton:focus, #singlebutton:active, #clear-button {
    background: #87E226;
    box-shadow: none;
}

input, textarea {
    background: none !important;
    background-color: transparent !important;
    font-size: 20px !important;
    color: #FFFFFF !important;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  position:absolute;
  cursor: pointer;
}

/* Footer styling */
footer {
	min-height: 80px;
	padding:1em;
	color: #FFFFFF;
	background-color:#222222;
	font-size:80%;
	text-align:right;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

/*These are the mobile rules*/
@media screen and (max-width: 767px) {
	
	h1
	{
		font-size: 36px;
	}

	h2, .about-text
	{
		font-size: 28px;
		margin: 0;
	}

	h3 {
		font-size: 20px;
	}

	ul
	{
		font-size: 25px;
	}

	.transparent-box, .green-box, .white-box {
		height: 300px;
	}

	#about-img1, #about-img2 {
		display:none !important;
	}

	#tag {
		padding-left: 1em;
	}

	#tag2 {
		padding-left: 1em;
	}

	.dropdown-menu {
    	font-size:32px;
	}

	.dropdown1 {   
		width:250px;
	}

	.dropdown2 { 
		width: 300px;
	}

	#dropdownMenu9 {
		width:400px;
	}

	#dropdownMenu12 {
		width:350px;
	}
}

/*These are the desktop rules*/
@media screen and (min-width: 768px) {

	body 
	{
		background-image:url("images/logo.png");
		background-position: center;
		background-repeat:no-repeat;
		background-attachment:fixed;
	}
	h1
	{
		font-size: 100px;
		font-weight: 300;
	}

	h2, .about-text
	{
		font-size: 50px;
		margin: 0;
	}

	ul
	{
		font-size: 35px;
	}

	.about-text li {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.transparent-box, .green-box , .white-box {
		height: 600px;
	}

	.glyphicon {
		display:none !important;
	}

}

