<div class="container-fluid">
	<div class="row" style="background-image: url('images/whitepixel.png');">
		<div class="about-content col-md-6">
			<div class="about-box">
				<h2>About Pure Automotive</h2>
				<div style="text-align: center;"><img src="images/ase.png" width="50%" height="50%"/></div>
				<ul>
					<li>Established in 2011</li>
					<li>Light and medium duty automotive repairs</li>
					<li>Servicing all makes and models (no exotics)</li>
					<li>Started up by Jeff Ma</li>
				<ul> 
			</div>
		</div>
		<div class="about-me col-md-6">  
			<div id="about-img1" class="about-box" style="background: url('images/about1.png') no-repeat center; background-size: cover; height:100%; width: 100%;"></div>
		</div>
	</div>
	<div class="row">
		<div class="about-content col-md-6">
			<div class="about-box">
				<ul>
				<li>ASE certified master automobile mechanic</li>
				<li>Over 10 years experience in auto repair and service</li>
				<li>Foodie and fitness nut</li>
			</ul>
			</div>
		</div>
		<div class="about-me col-md-6">  
			<div id="about-img2"  class="about-box" style="background: url('images/about1.png') no-repeat center; background-size: cover; height:100%; width: 100%;"></div>
		</div>
	</div>
</div>