<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 split-display">
			<div class="white-box">
				<h2>About Pure Automotive</h2>
				<div style="text-align: center;"><img src="images/ase.png" width="50%" height="50%"/></div>
			</div>
		</div>
		<div class="col-md-6 split-display">
			<div class="green-box"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 split-display">
			<div class="transparent-box"></div>
		</div>
		<div class="col-md-6 split-display">
			<div class="green-box"></div>
		</div>
	</div>
</div>