<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 split-display">
			<div class="white-box">
				<h2>ABOUT PURE<br/>
					AUTOMOTIVE REPAIR
				</h2>
				
			</div>
		</div>
		<div class="col-md-6 split-display">
			<div class="green-box about-text">
				<ul>
					<li>ESTABLISHED IN 2011</li>
					<li>LIGHT AND MEDIUM DUTY AUTOMOTIVE REPAIRS</li>
					<li>SERVICING ALL MAKES AND MODELS (EXCEPT EXOTICS)</li>
					<li>100% INDEPENDENT AND LOCAL</li>
					<li>STARTED UP BY JEFF MA</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 split-display">
			<div class="transparent-box about-pic"></div>
		</div>
		<div class="col-md-6 split-display">
			<div class="green-box about-text">
				<ul>
					<li>ASE CERTIFIED MASTER AUTOMOBILE MECHANIC<img src="images/ase.png" width="30%" height="30%"/></li>
					<li>OVER 10 YEARS EXPERIENCE IN AUTO REPAIR AND SERVICE</li>
					<li>KNOWLEDGEABLE</li>
					<li>FOODIE AND FITNESS NUT</li>
				</ul>
			</div>
		</div>
	</div>
</div>