<div class="container-fluid">
	<form class="form-horizontal" ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>
		<fieldset>

			<!-- Form Name -->
			<legend>CONTACT</legend>
			<div class="col-md-4">
				<?php 
				echo "bitches and shit"; 
				?>

				<!-- Name input-->
				<div class="control-group">
				  <label class="control-label" for="textinput">NAME</label>
				  <div class="controls">
				    <input id="textinput" ng-model="user" name="user" type="text" class="input-xlarge" 
				    placeholder="First name, Last name" size="45" required/>
				    <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
				    	<br><span ng-show="myForm.user.$error.required">First and last name is required</span>
				    </span>
				  </div>
				</div>

				<!-- Email input-->
				<div class="control-group">
				  <label class="control-label" for="textinput">EMAIL</label>
				  <div class="controls">
				    <input id="textinput" name="email" ng-model="email" type="email" class="input-xlarge"
				    placeholder="example@example.com" size="45" required/>
				    <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
				    	<br><span ng-show="myForm.email.$error.required">Email is required.</span>
				    	<span ng-show="myForm.email.$error.email">Invalid email address</span>
				    </span>
				  </div>
				</div>

				<!-- Subject input-->
				<div class="control-group">
				  <label class="control-label" for="textinput">SUBJECT</label>
				  <div class="controls">
				    <input id="textinput" name="subject" ng-model="subject" type="text" 
				    placeholder="Subject example" class="input-xlarge" size="45" required>
				    <span style="color:red" ng-show="myForm.subject.$dirty && myForm.subject.$invalid">
				    	<br><span ng-show="myForm.subject.$error.required">Subject is required.</span>
				    </span>
				  </div>
				</div>

				<!-- Textarea -->
				<div class="control-group">
				  <label class="control-label" for="textarea">MESSAGE</label>
				  <div class="controls">                     
				    <textarea id="textarea" name="message" ng-model="message" rows="8" cols="45"
				    placeholder="This is a message" 
				    required></textarea>
				    <span style="color:red" ng-show="myForm.message.$dirty && myForm.message.$invalid">
				    	<br><span ng-show="myForm.message.$error.required">Message is required.</span>
				    </span>
				  </div>
				</div>

				<!-- Button -->
				<div class="control-group">
				  <label class="control-label" for="singlebutton"></label>
				  <div class="controls">
				    <button id="singlebutton" name="singlebutton" class="btn btn-primary"
				    ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid"
				    onclick="mail()">
				    SEND MESSAGE</button>
				  </div>
				</div>
			</div>
			<!-- Contact Links-->
			<div class="col-md-4" id="call-text">
				<div id="contact-head"><h2>Call or text</h2></div>
				<div class="col-xs-6">
					<h3>Via computer</h3>
					<a href="tel:206-510-7007"><img id="call" src="images/call.png"/></a>
				</div>
				<div class="col-xs-6">
					<h3>Via mobile</h3>
					<a href="tel:1-206-555-1212">206-555-1212</a>
				</div>
			</div>
			<!-- Map -->
			<div  id="map" class="col-md-4">
				<a href="https://www.google.com/maps/place/1716+S+Hanford+St,+Seattle,+WA+98144/@47.575307,-122.309909,17z/data=!3m1!4b1!4m2!3m1!1s0x54906a7ddb0eb14d:0x7b0e2198053d2206">Pure Automotive Repair<br/>1716 South Hanford Street<br/>Seattle, Washington 98144</a>
				<iframe width='80%' height='300px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/jtopasna.4a70938e/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoianRvcGFzbmEiLCJhIjoiNzI1YTRlZTFjNzRjODQ2NzJhYmRiOTkwZTBiZGE4MzYifQ.u0BRAAbAEbGgPF5_nf4Y8g'></iframe>
			</div>
		</fieldset>
	</form>
</div>