<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 split-display">
			<div class="contact-box">
				<!-- Map -->
				<div id="map">
					<iframe width='80%' height='450px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/jtopasna.4a70938e/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoianRvcGFzbmEiLCJhIjoiNzI1YTRlZTFjNzRjODQ2NzJhYmRiOTkwZTBiZGE4MzYifQ.u0BRAAbAEbGgPF5_nf4Y8g'></iframe>
						<div>
							<h3>1716 SOUTH HANFORD STREET<br/>
								SEATTLE, WASHINGTON 98144<br/>
								<a class="green-text" href="tel:206-510-7007">206.510.7007</a>
							</h3>	
						</div>
						<div><a href="https://www.google.com/maps/place/1716+S+Hanford+St,+Seattle,+WA+98144/@47.575307,-122.309909,17z/data=!3m1!4b1!4m2!3m1!1s0x54906a7ddb0eb14d:0x7b0e2198053d2206" target="_blank"><img src="icons/googlemap.png"/></a></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 split-display">
			<div class="contact-box">
				<!-- Form -->
				<form role="form" class="form-horizontal" ng-app="myApp" ng-controller="validateCtrl" name="myForm" method="POST" action="contact.php" enctype="multipart/form-data" novalidate>
					<fieldset>

							<!-- Name input-->
							<div class="form-group">
							  <label class="form-label" for="user"></label>
							  <div class="controls">
							    <input id="user" ng-model="user" name="user" type="text" class="form-control" 
							    placeholder="Name" size="45" required/>
							    <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
							    	<br><span ng-show="myForm.user.$error.required">Name is required</span>
							    </span>
							  </div>
							</div>

							<!-- Email input-->
							<div class="form-group">
							  <label class="form-label" for="email"></label>
							  <div class="controls">
							    <input id="email" name="email" ng-model="email" type="email" class="form-control"
							    placeholder="Email" size="45" required/>
							    <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
							    	<br><span ng-show="myForm.email.$error.required">Email is required.</span>
							    	<span ng-show="myForm.email.$error.email">Invalid email address</span>
							    </span>
							  </div>
							</div>

							<!-- Subject input-->
							<div class="form-group">
							  <label class="form-label" for="subject"></label>
							  <div class="controls">
							    <input id="subject" name="subject" ng-model="subject" type="text" 
							    placeholder="Subject" class="form-control" size="45" required>
							    <span style="color:red" ng-show="myForm.subject.$dirty && myForm.subject.$invalid">
							    	<br><span ng-show="myForm.subject.$error.required">Subject is required.</span>
							    </span>
							  </div>
							</div>

							<!-- Textarea -->
							<div class="form-group">
							  <label class="form-label" for="textarea"></label>
							  <div class="controls">                     
							    <textarea id="textarea" class="form-control" name="message" ng-model="message" rows="8"
							    placeholder="Message" 
							    required></textarea>
							    <span style="color:red" ng-show="myForm.message.$dirty && myForm.message.$invalid">
							    	<br><span ng-show="myForm.message.$error.required">Message is required.</span>
							    </span>
							  </div>
							</div>

							<!-- Button -->
							<div class="form-group">
							  <label class="form-label" for="singlebutton"></label>
							  <div>
							  	<button id="clear-button" class="btn btn-primary" type="button" ng-click="resetForm()">RESET</button>
							  	<button id="singlebutton" name="singlebutton" class="btn btn-primary"
							    ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid || myForm.subject.$dirty && myForm.subject.$invalid || myForm.message.$dirty && myForm.message.$invalid || myForm.user.$pristine || myForm.email.$pristine ||  myForm.subject.$pristine ||  myForm.message.$pristine" type="submit">SUBMIT</button>
							  </div>
							</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="row" style="background: url('images/contact1.jpg') no-repeat center;">
			<div class="contact-box"></div>
		</div>
</div>