<div class="container-fluid">
	<div class="row" style="background: url('images/landing1.jpg') no-repeat center;">
		<div class="transparent-box">
			<h1>HONEST<br/>
				RELIABLE<br/>
		  		LOCAL<br/>
		  		AUTO REPAIR<br/> 
		  		AND SERVICE<br/>
			</h1>
		</div>
	</div>
	<div class="row" style="background-image: url('images/greenpixel.png');">
		<div class="green-box">
			<h1>NO SHOWROOMS</h1>
		</div>
	</div>
	<div class="row" style="background-image: url('images/whitepixel.png');">
		<div class="white-box">
			<h1>NO REFRESHMENTS</h1>
		</div>
	</div>
	<div class="row" style="background-image: url('images/transparentpixel.png');">
		<div class="transparent-box">
			<h1>NO MARKUPS</h1>
		</div>
	</div>
	<div class="row" style="background: url('images/landing2.jpg') no-repeat center;">
		<div class="transparent-box">
		<h1>JUST <span style="font-family: 'futuraextendedregular'; font-weight: 900px;">PURE</span><br/>
			<span style="font-family: 'futuraextendedregular'; font-weight: 50px; color: #87E226;">AUTOMOTIVE REPAIR</span>
		</h1>
	</div>
</div>