<div class="container-fluid">
	<div class="row" style="background: url('images/landing1.jpg') no-repeat center;">
		<div class="transparent-box">
			<h1>HONEST<br/>
				RELIABLE<br/>
		  		<span class="green-text">AUTO REPAIR</span>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 split-display">
			<div class="white-box">
				<h2>NO SHOWROOMS</h2>
			</div>
		</div>
		<div class="col-md-6 split-display">
			<div class="green-box">
				<h2>NO REFRESHMENTS</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 split-display">
			<div class="transparent-box">
				<h2>NO MARKUPS</h2>
			</div>
		</div>
		<div class="col-md-6 split-display">
			<div class="white-box">
				<h2><span class="green-text">NO HASSLES</span></h2>
			</div>
		</div>
	</div>
	<div class="row" style="background: url('images/landing2.jpg') no-repeat center;">
		<div class="transparent-box">
		<h1>JUST PURE<br/>
			<span class="green-text">AUTOMOTIVE REPAIR</span>
		</h1>
	</div>
</div>