<div class="container-fluid">
	<div class="row" style="background: url('images/landing1.jpg') no-repeat center;">
		<div class="transparent-box">
			<h1>HONEST<br/>
				RELIABLE<br/>
		  		LOCAL<br/>
		  		AUTO REPAIR<br/> 
		  		AND SERVICE<br/>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 split-display">
			<div class="white-box">
				<h2>NO SHOWROOMS</h2>
			</div>
		</div>
		<div class="col-md-6 split-display">
			<div class="green-box">
				<h2>NO REFRESHMENTS</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 split-display">
			<div class="transparent-box">
				<h2>NO MARKUPS</h2>
			</div>
		</div>
		<div class="col-md-6 split-display">
			<div class="white-box">
				<h2>NO HASSLES</h2>
			</div>
		</div>
	</div>
	<div class="row" style="background: url('images/landing2.jpg') no-repeat center;">
		<div class="transparent-box">
		<h1>JUST <span style="font-family: 'futuraextendedregular'; font-weight: 900px;">PURE</span><br/>
			<span style="font-family: 'futuraextendedregular'; font-weight: 100px; color: #87E226;">AUTOMOTIVE REPAIR</span>
		</h1>
	</div>
</div>