<div class="cart container-fluid" ng-show="items.length > 0">
    <button type="button" class="btn btn-info" ng-click="showHide()">ESTIMATE</button>
    <div class="div-table" ng-repeat="service in items" ng-show="isVisible">
        <div>{{service.name + ' ' + service.amount}} <button ng-click="deleteItem($index)">DELETE</button></div>
    </div>
</div>
<div class="green-box" style="background: url('images/services1.jpg') no-repeat center;">
    <h1>SERVICES<br/>
        OFFERED
    </h1>
</div>
<div class="service-box container-fluid">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/battery.png')" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Electrical</div>
                <ul class="dropdown-menu dropdown1 " aria-labelledby="dropdownMenu1" id="dropdownMenu1" >
                    <li ng-click="addItem('Battery', 150)">Battery</li>
                    <li ng-click="addItem('Starter', 150)">Starter</li>
                    <li ng-click="addItem('Alternator', 150)">Alternator</li>
                    <li ng-click="addItem('Stereo', 150)">Stereo</li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="btn dropdown-toggle icon-box" style="background-image: url('icons/belt.png')" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Belt</div>
                <ul class="dropdown-menu dropdown2" aria-labelledby="dropdownMenu2" id="dropdownMenu2">
                    <li>Alternator</li>
                    <li>Air Conditioning Compressor</li>
                    <li>Power Steering Pump</li>
                    <li>Water Pump</li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/brake.png')" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Brakes</div>
                <ul class="dropdown-menu dropdown2 " aria-labelledby="dropdownMenu3" id="dropdownMenu3" >
                    <li>Pads</li>
                    <li>Shoes</li>
                    <li>Rotor Discs</li>
                    <li>Drums</li>
                    <li>Calipers</li>
                    <li>Wheel Cylinders</li>
                    <li>Master Cylinders</li>
                    <li>Lines</li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/axle.png')" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Drivetrain</div>
                <ul class="dropdown-menu dropdown2" aria-labelledby="dropdownMenu4" id="dropdownMenu4" >
                    <li>Cv Axles</li>
                    <li>Drive Shafts</li>
                    <li>U-Joints</li>
                    <li>Wheel Bearings</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/oil.png')" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Fluids</div>
                <ul class="dropdown-menu dropdown2" aria-labelledby="dropdownMenu5" id="dropdownMenu5" >
                    <li>Oil Change</li>
                    <li>Transmission</li>
                    <li>Radiator</li>
                    <li>Power Steering</li>
                    <li>Brake</li>
                    <li>Differential</li>
                    <li>Transfer Case</li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/hose.png')" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Cooling</div>
                <ul class="dropdown-menu dropdown1" aria-labelledby="dropdownMenu6" id="dropdownMenu6" >
                    <li>Radiator</li>
                    <li>Hoses</li>
                    <li>Water Pump</li>
                    <li>Thermostat</li>
                </ul> 
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/filter.png')" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Filters</div>
                <ul class="dropdown-menu dropdown1" aria-labelledby="dropdownMenu7" id="dropdownMenu7" >
                    <li>Air</li>
                    <li>Cabin</li>
                    <li>Fuel</li>
                    <li>Transmission</li>
                    <li>Oil</li> 
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/hvac.png')" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Heating / AC</div>
                <ul class="dropdown-menu dropdown1 " aria-labelledby="dropdownMenu8" id="dropdownMenu8">
                    <li>Heater Core</li>
                    <li>Evaporator Core</li>
                    <li>Condenser</li>
                    <li>Compressor</li>
                    <li>Controls</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
           <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/suspension.png')" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Suspension</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu9" id="dropdownMenu9">
                    <li>Shocks</li>
                    <li>Struts</li>
                    <li>Springs / Coils</li>
                    <li>Sway Bars / Stabilizer Bars</li>
                    <li>Control Arms</li>
                    <li>Ball Joints</li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/sparkplug.png')" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Ignition</div>
                <ul class="dropdown-menu dropdown2" aria-labelledby="dropdownMenu10" id="dropdownMenu10" >
                    <li>Spark Plug</li>
                    <li>Spark Plug Wire</li>
                    <li>Distributor Cap</li>
                    <li>Distributor Rotor</li>
                    <li>Ignition Coil</li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/exhaust.png')" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Exhaust</div>
                <ul class="dropdown-menu dropdown2" aria-labelledby="dropdownMenu11" id="dropdownMenu11">
                    <li>Manifold</li>
                    <li>Muffler</li>
                    <li>Catalytic Converter</li>
                    <li>Pipe</li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/inspection.png')" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Inspection</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu12"id="dropdownMenu12">
                    <li>Pre-purchase</li>
                    <li>Preventative Maintenance</li>
                    <li>Consulting</li>
                </ul>
            </div>
        </div>   
    </div>
</div>

<!-- Whenever a button is clicked scroll menu to center -->
<script>
    $('.btn').click(function()
    {
        $('html, body').animate({
            scrollTop:$(this).offset().top-50
        }, 350);
    })
</script>



