<div class="green-box" style="background: url('images/services1.jpg') no-repeat center;">
    <h1>SERVICES<br/>
        OFFERED
    </h1>
</div>
<div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#cart">Cart Contents</button>
    <div id="cart">
    </div>
</div>
<div class="service-box container-fluid">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/battery.png')" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Electrical</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="">Battery</a></li>
                    <li><a href="">Starter</a></li>
                    <li><a href="">Alternator</a></li>
                    <li><a href="">Stereo</a></li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/belt.png')" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Belt</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="">Alternator</a></li>
                    <li><a href="">Air Conditioning Compressor</a></li>
                    <li><a href="">Power Steering Pump</a></li>
                    <li><a href="">Water Pump</a></li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/brake.png')" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Brakes</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                    <li><a href="">Pads</a></li>
                    <li><a href="">Shoes</a></li>
                    <li><a href="">Rotor Discs</a></li>
                    <li><a href="">Drums</a></li>
                    <li><a href="">Calipers</a></li>
                    <li><a href="">Wheel Cylinders</a></li>
                    <li><a href="">Master Cylinders</a></li>
                    <li><a href="">Lines</a></li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/axle.png')" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Drivetrain</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                    <li><a href="">Cv Axles</a></li>
                    <li><a href="">Drive Shafts</a></li>
                    <li><a href="">U-Joints</a></li>
                    <li><a href="">Wheel Bearings</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/oil.png')" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Fluids</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                    <li><a href="">Oil Change</a></li>
                    <li><a href="">Transmission</a></li>
                    <li><a href="">Radiator</a></li>
                    <li><a href="">Power Steering</a></li>
                    <li><a href="">Brake</a></li>
                    <li><a href="">Differential</a></li>
                    <li><a href="">Transfer Case</a></li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/hose.png')" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Cooling</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu6">
                    <li><a href="">Radiator</a></li>
                    <li><a href="">Hoses</a></li>
                    <li><a href="">Water Pump</a></li>
                    <li><a href="">Thermostat</a></li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/filter.png')" type="button" id="dropdownMenu7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Filters</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu7">
                    <li><a href="">Air</a></li>
                    <li><a href="">Cabin</a></li>
                    <li><a href="">Fuel</a></li>
                    <li><a href="">Transmission</a></li>
                    <li><a href="">Oil</a></li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/hvac.png')" type="button" id="dropdownMenu8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Heating / AC</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu8">
                    <li><a href="">Heater Core</a></li>
                    <li><a href="">Evaporator Core</a></li>
                    <li><a href="">Condenser</a></li>
                    <li><a href="">Compressor</a></li>
                    <li><a href="">Controls</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
           <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/suspension.png')" type="button" id="dropdownMenu9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Suspension</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu9">
                    <li><a href="">Shocks</a></li>
                    <li><a href="">Struts</a></li>
                    <li><a href="">Springs / Coils</a></li>
                    <li><a href="">Sway Bars / Stabilizer Bars</a></li>
                    <li><a href="">Control Arms</a></li>
                    <li><a href="">Ball Joints</a></li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/sparkplug.png')" type="button" id="dropdownMenu10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Ignition</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu10">
                    <li><a href="">Spark Plug</a></li>
                    <li><a href="">Spark Plug Wire</a></li>
                    <li><a href="">Distributor Cap</a></li>
                    <li><a href="">Distributor Rotor</a></li>
                    <li><a href="">Ignition Coil</a></li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/exhaust.png')" type="button" id="dropdownMenu11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Exhaust</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu11">
                    <li><a href="">Manifold</a></li>
                    <li><a href="">Muffler</a></li>
                    <li><a href="">Catalytic Converter</a></li>
                    <li><a href="">Pipe</a></li>
                </ul>
            </div>
            <div class="dropdown text-center">
                <button class="icon-box btn dropdown-toggle " style="background-image: url('icons/inspection.png')" type="button" id="dropdownMenu12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <div class="service-box-label">Inspection</div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu12">
                    <li><a href="">Pre-purchase</a></li>
                    <li><a href="">Preventative Maintenance</a></li>
                    <li><a href="">Consulting</a></li>
                </ul>
            </div>
        </div>   
    </div>
</div>



